@import url("https://fonts.googleapis.com/css2?family=Alata&family=Berkshire+Swash&family=Comic+Neue:ital,wght@0,400;0,700;1,700&family=Fredoka+One&family=Hind+Madurai:wght@300;400;500;600;700&family=Inter:wght@400;500;600;700;800&family=Lato:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&family=Lobster&family=Manrope:wght@200;400;600&family=Montserrat:wght@400;700&family=Mulish:wght@300;400&family=Open+Sans:wght@400;600&family=Poppins:wght@400;500&family=Roboto:wght@400;500&family=Rubik:ital,wght@0,400;0,500;0,600;0,700;1,500;1,600&display=swap");
* {
  margin: 0;
  padding: 0;
  font-family: "Manrope", sans-serif;
}
/* scroll bar design  */
::-webkit-scrollbar{
    width: 11px;
}
::-webkit-scrollbar-track{
    background: #cfcccc;
}
::-webkit-scrollbar-thumb{
    background: #FF5E19;
}
::selection{
    background: rgba(0,123,255,0.3);
}

header {
  background-color: #000000;
  height: 500px;
  box-sizing: border-box;
  padding-top: 133px;
  position: relative !important;
}
header h1 {
  font-family: "Berkshire Swash", cursive !important;
  color: #FF5E19;
  font-size: 76px;
  text-align: center;
  /* margin-top: 133px; */
  margin-bottom: 28px;

}
header p{
    color: white;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    width: 700px;
    margin: 0 auto;
}
header img:nth-child(1){
    position: relative !important;
    bottom: 0 !important;
    left: 0 !important;
    width: 100px;
}
.img1{
    position: absolute;
    bottom: 0;
}
.img2{
    position: absolute;
    right: 128px;
    top: 80px;
}
.img3{
    position: absolute;
    bottom: 0;
    right: 0;
}
.banner-marker{
    position: absolute;
    top: 43%;
    left: 60%;
}
.card-section {
  background-color: #151515;
  padding: 100px 0px;
  display: flex;
  justify-content: center;
}
.cards {
  display: grid;
  grid-template-columns: repeat(3, 350px);
  /* grid-row-gap: 0px; */
}
.card {
  width: 264px;
  height: 371px;
  background: #0d0d0d;
  border: 1px solid #434343;
}
.card img {
  width: 264px;
  height: 204px;
}

.card h2 {
  color: white;
  margin: 16px 0px 8px 0px;
  text-align: center;
}
.history {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 25px;
}
.history p {
  color: #b3b3b3;
}

.card button {
  text-transform: uppercase;
  width: 221px;
  height: 42px;
  background: #015196;
  border: none;
  font-weight: 700;
  color: white;
  margin: 0px 18px;
  cursor: pointer;
}
.selected-items {
  background: #0d0d0d;
  border-radius: 4px;
  height: 371px;
  width: 264px;
  position: relative;
}
.selected-items h1 {
  color: white;
  text-align: center;
  margin: 22px 0px;
}
.selected-items ol {
  padding-left: 50px;
  color: white;
  /* text-align: center; */
}
.selected-items ol li {
  margin-bottom: 20px;
}
.marker{
    position: absolute;
    left: 62px;
    top: 60px;
    padding-bottom: 200px !important;
    overflow: hidden;
    /* z-index: -5; */
}
.marker2{
    position: relative;
    left: 25%;
    margin-bottom: 20px;
    margin-top: -13px;
}

.cal-section {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.cal {
  width: 264px;
  height: 514px;
  background: #0d0d0d;
  position: relative;
}
.cal h1 {
  color: white;
  text-align: center;
  margin: 20px 0px;
}
.cal p {
  color: white;
}
.player-fee {
  display: flex;
  justify-content: space-between;
  align-items: center !important;
  padding: 0px 30px;
}
.player-fee > input {
  width: 121px;
  height: 40px;
  background-color: transparent;
  border: 1px solid #ffffff;
  color: white;
  padding-left: 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
}
.cal-btn {
  border: none;
  background: #015196;
  width: 221px;
  height: 42px;
  font-weight: 700;
  color: white;
  margin-left: 20px;
  font-size: 18px;
  cursor: pointer;
  margin-bottom: 20px;
}
.p-exp {
  margin-bottom: 20px;
}
.total {
  color: #ff5e19 !important;
}
.common-color {
  color: #afafaf !important;
}

button:disabled,
button[disabled] {
  border: 1px solid #999999;
  background-color: #cccccc;
  color: #666666;
  cursor: auto;
}

