* {
  margin: 0;
  padding: 0;
}
.card-section {
  background-color: #151515;
  padding: 100px 0px;
  display: flex;
  justify-content: center;
}
.cards {
  display: grid;
  grid-template-columns: repeat(3, 350px);
  grid-row-gap: 60px;
}
.card {
  width: 264px;
  height: 371px;
  background: #0d0d0d;
  border: 1px solid #434343;
}
.card img {
  width: 264px;
  height: 204px;
}

.card h2 {
  color: white;
  margin: 16px 0px 8px 0px;
  text-align: center;
}
.history {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-bottom: 25px;
}
.history p {
  color: #b3b3b3;
}

.card button {
  text-transform: uppercase;
  width: 221px;
  height: 42px;
  background: #015196;
  border: none;
  font-weight: 700;
  color: white;
  margin: 0px 18px;
  cursor: pointer;
}
.selected-items {
  background: #0d0d0d;
  border-radius: 4px;
  height: 371px;
  width: 264px;
}
.selected-items h1 {
  color: white;
  text-align: center;
  margin: 22px 0px;
}
.selected-items ol {
  padding-left: 50px;
  color: white;
  /* text-align: center; */
}
.selected-items ol li {
  margin-bottom: 20px;
}
.cal-section {
  display: flex;
  flex-direction: column;
  gap: 50px;
}
.cal {
  width: 264px;
  height: 514px;
  background: #0d0d0d;
}
.cal h1 {
  color: white;
  text-align: center;
  margin: 20px 0px;
}
.cal p {
  color: white;
}
.player-fee {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 30px;
}
.player-fee > input {
  width: 121px;
  height: 40px;
  background-color: transparent;
  border: 1px solid #ffffff;
  color: white;
  padding-left: 20px;
  box-sizing: border-box;
  margin-bottom: 20px;
}
.cal-btn {
  border: none;
  background: #015196;
  width: 221px;
  height: 42px;
  font-weight: 700;
  color: white;
  margin-left: 20px;
  font-size: 18px;
  cursor: pointer;
  margin-bottom: 20px;
}
.p-exp {
  margin-bottom: 20px;
}
.total {
  color: #ff5e19 !important;
}
.common-color {
  color: #afafaf !important;
}
